/***************
영역만 나눠놓고 나중에 파일을 나누자

reset.css 포함 ;
****************/

@import url(reset.css);


/*
공통
*/


html,body{
	height: 100%;
	margin:0;
}


.main{
	height: 100%;
	background-color: #eaeaea;
}

.page{
	margin-left: auto;
	margin-right: auto;
	width:1080px;
	height: 100%;
	
	padding-top: 20px;

}
.side{
	float:left;
	width: 200px;
	height: auto;
	

}

.box{
	background-color: #f2f2f2;
	border: 1px solid #cdd2d2;
	border-radius: 2px;
}

.content{
	float: left;
	width: 850px;
	height:100%;
	background-color: #f2f2f2;
	border: 1px solid #cdd2d2;
	margin-left:15px;
	border-radius: 2px;
}

.container1080{
	width: 1080px;
	margin-left: auto;
	margin-right: auto;
}

.dark{
	background-color: #2d3a45;
	color:white;
}
.light{
	background-color: #f3f4f7;
	color:black;
}


/*
navbar
*/
.mk-navbar{
	width:100%;
	height: 50px;
	
	display: table;
	
	line-height: 1.4;

}


.mk-navbar ul{
	line-height: 50px;
}
.mk-navbar ul li{
	float:left;
	display: block;
}

.mk-navbar ul li >a{
	padding: 10px 15px;
	color:white;
	text-decoration: none;

}




/*
badge.css
*/

.badge-case{
	width:90%;
}

.darkgrey{
	background-color: #dedede;
}



/*element*/

.empty-box{
	width: 100px;
	height: 100px;
	background-color: black;
}

.table tr td{

	vertical-align: middle !important;
}

.table tr td h1{

	margin: auto !important;
}

.push-below{
	margin-bottom: 20px;
}
.center-content{
	text-align: center;
}
